// COLOR
$COLOR_FUSION_RED: rgb(252, 92, 101);
$COLOR_DESIRE: rgb(235, 59, 90);
$COLOR_ORANGE_HIBISCUS: rgb(253, 150, 68);
$COLOR_BENIUKON_BRONZE: rgb(250, 130, 49);
$COLOR_FLIRTATIOUS: rgb(254, 211, 48);
$COLOR_NYC_TAXI: rgb(247, 183, 49);
$COLOR_REPTILE_GREEN: rgb(38, 222, 129);
$COLOR_ALGAL_FUEL: rgb(32, 191, 107);
$COLOR_MAXIMUM_BLUE_GREEN: rgb(43, 203, 186);
$COLOR_TURGUOISE_TOPAZ: rgb(15, 185, 177);
$COLOR_HIGHT_BLUE: rgb(69, 170, 242);
$COLOR_BOYZONE: rgb(45, 152, 218);
$COLOR_C64_NTSC: rgb(75, 123, 236);
$COLOR_ROYAL_BLUE: rgb(56, 103, 214);
$COLOR_LIGHTER_PURPLE: rgb(165, 94, 234);
$COLOR_GLOOMY_PURPLE: rgb(136, 84, 208);
$COLOR_TWINKLE_BLUE: rgb(209, 216, 224);
$COLOR_INNUENDO: rgb(165, 177, 194);
$COLOR_BLUE_GRAY: rgb(119, 140, 163);
$COLOR_BLUE_HORIZON: rgb(75, 101, 132);

// COLOR OF THEME
$COLOR_PRIMARY: $COLOR_MAXIMUM_BLUE_GREEN;
$COLOR_SECONDARY: $COLOR_TWINKLE_BLUE;
$COLOR_FFF: rgb(255, 255, 255);
$COLOR_DISABLE: rgb(189, 195, 199);
$COLOR_BG_DISABLE: rgb(236, 240, 241);

$ANIMATION_DEFAULT: cubic-bezier(0.4, 0, 0.2, 1) 0ms;
