.a-button {
	background-color: $COLOR_INNUENDO;
	border: none;
	border-radius: 3px;
	color: $COLOR_FFF;
	outline: none;
	padding: 6px 16px;
	transition: box-shadow 250ms $ANIMATION_DEFAULT;

	@include u-box-shadow-default();

	&:hover {
		@include u-box-shadow-hover();
	}

	&:disabled {
		background-color: $COLOR_BG_DISABLE;
		box-shadow: none;
		color: $COLOR_DISABLE;
		cursor: not-allowed;
	}

	> span {
		@include u-fz(1.3em, 24px);
	}

	&-primary {
		background-color: $COLOR_PRIMARY;
		color: $COLOR_FFF;
	}

	&-secondary {
		background-color: $COLOR_BLUE_HORIZON;
		color: $COLOR_FFF;
	}
}
